* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
/* .header {

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.signin {
  border: 2px solid black;
  border-radius: 20%;
  width: 6vw;
  height: 4vh;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
.logout {
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 20%;
  width: 6vw;
  height: 4vh;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
.signup {
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 20%;
  width: 6vw;
  height: 4vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
 .lable {
  margin-right: 750px;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.halls {
  background-color: lightgrey;
  max-width: 1280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
} */
/* .addhall {
  width: 100%;
  height: 600px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
.hall {
  width: 100%;
  height: 600px;

  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
} */
.addhallbutton {
  width: 100%;
  height: 100px;
}
/* .roomnameinput {
  margin-left: 20px;
}
.roomdescription {
  margin-left: 20px;
}
.halldeletebutton {
  margin-left: 1230px;
}
.loadedimg {
  max-width: 1220px;
} */
/* .signin {
  border: 2px solid black;
  border-radius: 20%;
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
} */
.card-panel {
  z-index: 1;
  overflow-wrap: break-word;
}
.card {
  color: black;
  position: relative;
  z-index: 3;
}
.activator {
  width: 100%;
  height: 350px;
  border: 2px solid #4db6ac;
  z-index: 2;
  position: static;
}
.deletehallbutton {
  /* height: 50px;
  /* position: absolute; */
  width: 100%;
  /* left: 60%; */
  /* margin-left: 600px; */
}
.edithallbutton {
  height: 30px;
  /* position: absolute; */
  width: 100%;
  /* left: 60%; */

  /* margin-left: 600px; */
}
.bookit {
  width: 50%;
  height: 50px;
}
.checkbox {
  border: 5px solid black;
  opacity: 5;
}
[type="checkbox"]:not(:checked) {
  opacity: 5;
  position: static;
  pointer-events: all;
}
[type="checkbox"]:checked {
  opacity: 5;
  position: static;
  pointer-events: all;
}
.date {
  width: 200px;
  height: 200px;
}
.bookitcontainer {
  display: flex;
  justify-content: space-between;
}
.cardticket {
  height: 100%;
}
.deletedescription {
  margin-top: 30px;
}
.title {
  font-size: 30px;
}
.ticket-center-container {
  display: flex;
  justify-content: space-between;
}
.editbuttons {
  display: flex;
  justify-content: space-between;
}
.ant-calendar-picker-input.ant-input {
  height: 100%;
}
.dropdown-trigger {
  z-index: 10;
}
.signInForm {
  position: absolute;
  z-index: 5;
  background-color: white;
  border: #ee6e73 5px solid;
  border-radius: 1%;
}
.signInForm p {
  margin-left: 5px;
}
.signInForm input {
  margin-left: 2px;
  width: 99%;
}
.signInForm button {
  margin-left: 5px;
}
